<section>
    <h2>{{title}}</h2>

    <h4>Progress bar</h4>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary" ng-click="progressStart()">Start progress bar</button>
            <button class="btn btn-default" ng-click="progressEnd()">Stop progress bar</button>
        </div>
    </div>

    <h4>Date control from ngStrap</h4>
    <div class="row">
        <div class="col-md-3">
            <input type="text" class="form-control" ng-model="selectedDate" data-date-type="number" data-min-date="today" data-autoclose="1" bs-datepicker>
            <span>{{selectedDate | date:'fullDate'}}</span>
        </div>
    </div>

    <h4>Http get</h4>
    <div class="row" style="margin-top: 20px">
        <div class="col-md-3">
            <input type="text" class="form-control" ng-model="username" />
            <button class="btn btn-primary" ng-click="sayHello()">Say hello</button>
            <p>{{helloMessage}}</p>
        </div>
    </div>
</section>
